<app-nav-bar></app-nav-bar>


<div class="main">

  <div class="search">
    <div>
      <span>Fecha de inicio</span>
      <input type="date" class="clear-filter-btn" [(ngModel)]="fechaInicio"/>
    </div>
    <div>
      <span class="fecha-title">Fecha Final</span>
      <input type="date" class="clear-filter-btn" [(ngModel)]="fechaFin"/>
    </div>
    <button (click)="buscar()">Buscar</button>
    <button (click)="exportar()">Exportar</button>


  </div>

    <!--  Seperar en 3 secciones para mostrar informacion school-info ingresos-info egresos-info-->
  <div class="school-info">
    <h1>ESCUELA</h1>
    <div class="info-item">
      <p><span>Nombre:</span> {{ Escuela.nombre }}</p>
    </div>
    <div class="info-item">
      <p><span>Clave:</span> {{ Escuela.clave }}</p>
    </div>
    <div class="info-item">
      <p><span>Localidad:</span> {{ Escuela.localidad }}</p>
    </div>
    <div class="info-item">
      <p><span>Zona:</span> {{ Escuela.zona }}</p>
    </div>
    <div class="info-item">
      <p><span>Sector:</span> {{ Escuela.sector }}</p>
    </div>
    <div class="info-item">
      <p><span>Balance Actual:</span> {{ Escuela.balance | currency:'MXN':'symbol':'1.2-2' }}</p>
    </div>
  </div>


  <div class="contenedor1">

  <div class="tab">
    <button (click)="showIngresos()">Ingresos</button>
    <button (click)="showEgresos()">Egresos</button>
  </div>

  <!-- Sección de Ingresos -->
  <section *ngIf="mostrarIngresos" class="ingresos">
    <div class="ingresos-info">
      <h1>INGRESOS ECONOMICOS</h1>
      <h2> Datos al Dia: {{fechaFin}}</h2>
      <div class="info-item">
        <p *ngFor="let item of movimientos | keyvalue">
          <span>{{ item.key }}:</span> {{ item.value.ingreso | currency:'MXN':'symbol':'1.2-2' }}</p>
      </div>
      <div class="sum-item">
        <p><span>TOTAL INGRESOS:</span> {{ calcularSumatoria('ingreso') | currency:'MXN':'symbol':'1.2-2' }}</p>
      </div>
    </div>
  </section>

  <!-- Sección de Egresos -->
  <section *ngIf="mostrarEgresos" class="egresos">
    <div class="egresos-info">
      <h1>EGRESOS REGISTRADOS</h1>
      <h2> Datos al Dia: {{fechaFin}}</h2>

      <!-- Contenido de egresos -->
      <div class="info-item">
        <p *ngFor="let item of movimientos | keyvalue">
          <span>{{ item.key }}:</span> {{ item.value.egreso | currency:'MXN':'symbol':'1.2-2' }}
        </p>
      </div>

      <div class="sum-item">
        <p><span>TOTAL EGRESOS:</span> {{ calcularSumatoria('egreso') | currency:'MXN':'symbol':'1.2-2' }}</p>
      </div>
    </div>
  </section>

</div>

</div>
