.main {
  background: linear-gradient(to right, #c471ed, #bba2c7);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; /* Abarcará toda la pantalla */
}
 h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

 .info-item p,
 .sum-item p{
    font-size: 16px;
    line-height: 24px; /* Ajusta la altura de la línea al tamaño de fuente */
    min-height: 24px; /* Ajusta la altura mínima */
  }

 .info-item p span {
    font-weight: bold;
    margin-right: 10px;
    display: inline-block; /* Permite ajustar la altura mínima */
    min-width: 500px; /* Ancho mínimo para el título */
  }

.school-info .info-item p span {
  min-width: 200px; /* Ancho mínimo para el título */
}

.sum-item p span {
  font-weight: bold;
  margin-right: 10px;
  display: inline-block; /* Permite ajustar la altura mínima */
  min-width: 500px; /* Ancho mínimo para el título */
  padding-top: 60px;
}

.school-info {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 20px 15px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-left: 10px;

}

.tab button {
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 10px 10px 0 0;
  width: 150px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

/* Estilo para las secciones de ingresos y egresos */
.section {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none; /* Ocultar el contenido */
}

.contenedor1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

/* Mostrar el contenido activo */
.active {
  display: block;
}

.ingresos-info,
.egresos-info {
  background: white;
  padding: 20px;
  margin: 0px 20px 15px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 400px;
  border-radius: 10px;
}

.search {
  display: flex;
  justify-content: center;
  background-color: #ffffff; /* fondo blanco */
  padding: 20px; /* espacio interno */
}

.search > div {
  display: flex;
  align-items: center;
  margin-right: 20px; /* espacio entre los bloques */
}

.search > div:last-child {
  margin-right: 0; /* quita el margen derecho del último bloque */
}

.search span {
  margin-right: 10px; /* espacio entre el span y el input */
}

.search input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.fecha-title {
  margin-right: 10px; /* espacio entre el span y el input */
}

