
.monetary-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}




/* 


}
.monetary-search input {
  border: none;
  border-radius: 10px;
  padding: 5px;
}
.monetary-search button{
  color: #c471ed;
  background-color: beige;
  padding: 6px;
  border: none;
  font-weight:bolder;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 10px;
  width: 130px
}
h4 {
  margin-right: 10px;
  margin-left: 20px;
} */
.btn-buscar-escuela{
  background-color: #c471ed;
  color: white;
  border: none;
  /* padding: 8px 20px; Ajusta el relleno del botón según sea necesario */
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 40px;
}