
<div class= "contenedor-navbar">

  <div class="contenedor-img">

    <img class="imagen" src="../../../../assets/imgs/LogoEmpresa.jpg" alt="logo">

  </div>


  <div class="contenedor-3forms">

    <div class="contendor-btn">
<!--      Viajar a home-->
      <button (click)="irHome()" class="btn-navbar">Home</button>
    </div>

    <div class="contendor-btn">
      <select [(ngModel)]="selectedValueRegister" (change)="onSelectedRegister($event)"  class="btn-navbar" name="registrar">
        <option selected disabled>Registrar</option>
        <option *ngIf="isSupervisor" value="escuelas">Escuelas</option>
        <option value="movimientos">Movimientos</option>
      </select>
<!--      <button  class="btn-navbar">Registrar</button>-->
    </div>

    <div class="contendor-btn">
      <button (click)="irConsultas()"  class="btn-navbar">Consultas</button>
    </div>

  </div>


  <div class="contenedor-escuelas">

    <div class="contenedor-img-small">
      <img class="img-small" src="../../../../assets/imgs/escuela.png" alt="esuela">
    </div>

    <div class="contendor-btn">
      <select class="btn-navbar" (change)="onSelectEscuela($event)">
        <option selected disabled>Escuelas</option>
        @for (escuela of escuelas;track escuela.id){
          <option [value]="escuela.id">{{ escuela.nombre }}</option>

        }
      </select>
    </div>

  </div>


  <!-- <div class="contenedor-escuelas2" *ngIf="mostrarAsignarEscuela()">
    <div class="contendor-btn">
      <select class="btn-navbar" [(ngModel)]="selectedId">
        @for (id of idEscuelas;track id){
        <option [value]="id">{{ id }}</option>
        }
      </select>
    </div>
    <button (click)="asignarEscuela(selectedId)" class="btn-navbar">Asignar Escuela</button>
  </div> -->

<div class="contenedor-escuelas2" *ngIf="mostrarAsignarEscuela()">
    <div class="contendor-btn">
    <!-- haz un boton que se llame crear usuarios -->
  <button (click)="crearUsuarios()" class="btn-navbar">Crear Usuarios</button>
    </div>
  </div>






  <div class="contenedor-salir">
    <div class="contendor-btn">
      <button (click)="salir()" class="btn-navbar">Salir</button>
    </div>

  </div>



</div>
